#footer {
    padding: 2rem 0;
    background-color: #484848;
    color: white;
}

#footer #social-icons {
    padding-top: 1rem;
}

#footer .fa {
    padding: .5rem;
}

@media (max-width: 768px)
{
    #footer {
        text-align: center;
    }
        
}