
body, html {
    height: 100%;
}

#header {
    background: url("../img/stars-bg.jpg") center center no-repeat;
	background-size: cover;
    height: 100%;
    color: darkmagenta;
    display: flex;
    padding: 11% 0;
}

#carouselExampleControls {
    margin-top: 1rem;
}

#carouselExampleControls img {
    border-radius: 0.1px 0.1px 45px 0.1px;
}

#header .banner-text {
    text-align: center;
}

@media (max-width: 768px)
{
    #header {
        text-align: center;
        padding-top: 30%;
    }
}

