

.navbar {
	background-color:rgba(21,31,33,0.5);
	border-bottom:1px solid #dedede;
}

.navbar .navbar-nav .nav-link {
    color: #d1d1d1;
}

.navbar .navbar-nav .nav-link:hover {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

